<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Professores</title>
</head>
<body>
    <h1>Lista de Disciplinas</h1>

    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Matéria</th>
            <th>Sigla</th>
            <th>Cor</th>
            <th>Carga Horária</th>
        </tr>

        {% for disciplina in disciplinas %}
        <tr>
            <td>{{ disciplina[0] }}</td>
            <td>{{ disciplina[1] }}</td>
            <td>{{ disciplina[2] }}</td>
            <td>{{ disciplina[3] }}</td>
            <td>{{ disciplina[3] }}</td>

            <td>
                <a href="{{ url_for('editar_disciplina', id_disciplina=disciplina[0]) }}">
                    <button type="button">Editar</button>
                </a>
                
                <form action="{{ url_for('deletar_disciplina', id_disciplina=disciplina[0]) }}" method="POST" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if disciplina_edicao %}
        <hr>
        <h2>Editar Disciplina</h2>

        <form method="POST" action="{{ url_for('atualizar_disciplina', id_disciplina=disciplina_edicao['id_disciplina']) }}">
            <label>Disciplina:</label><br>
            <input type="text" name="nome" value="{{ disciplina_edicao['nome'] }}" required><br><br>

            <label>Sigla:</label><br>
            <input type="text" name="sigla" value="{{ disciplina_edicao['sigla'] }}" required><br><br>

            <label>Cor:</label><br>
            <input type="text" name="cor" value="{{ disciplina_edicao['cor'] }}" required><br><br>

            <label>Carga Horária:</label><br>
            <input type="number" name="carga_horaria_semanal" value="{{ disciplina_edicao['carga_horaria_semanal'] }}" required><br><br>

            <button type="submit">Atualizar</button>
        </form>
    {% endif %}

    <br>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>