<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Editar Professor</title>
</head>
<body>
    <h1>Editar Professor</h1>

    <form method="POST" action="{{ url_for('atualizar_disciplina', id_disciplina=disciplina[0]) }}">
        <label>Disciplina:</label><br>
        <input type="text" name="nome" value="{{ disciplina[1] }}" required><br><br>

        <label>Sigla:</label><br>
        <input type="text" name="sigla" value="{{ disciplina[2] }}"><br><br>

        <label>Cor:</label><br>
        <input type="text" name="cor" value="{{ disciplina[3] }}"><br><br>

        <label>Carga Horária:</label><br>
        <input type="number" name="carga_horaria_semanal" value="{{ disciplina[4] }}"><br><br>

        <button type="submit">Atualizar</button>
    </form>

    <br>
    <a href="{{ url_for('listar_disciplinas') }}">Voltar</a>
</body>
</html>