<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sistema Escolar</title>
</head>
<body>
    <h1>Sistema de Horários</h1>

    <a href="{{ url_for('cadastrar_professor') }}">
    <button>Cadastrar Professores</button></a><br>
    <a href="{{ url_for('listar_professores') }}">
    <button>Listar Professores</button></a><br><br>

    <a href="{{ url_for('cadastrar_disciplina') }}">
    <button>Cadastrar Disciplina</button></a><br>
    <a href="{{ url_for('listar_disciplinas') }}">
    <button>Listar Disciplinas</button></a><br><br>

    <a href="{{ url_for('cadastrar_turno') }}">
    <button>Cadastrar Turno</button></a><br>
    <a href="{{ url_for('listar_turnos') }}">
    <button>Listar Turnos</button></a><br><br>

    <a href="{{ url_for('cadastrar_turma') }}">
    <button>Cadastrar Turma</button></a><br>
    <a href="{{ url_for('listar_turmas') }}">
    <button>Listar Turmas</button></a><br><br>

    <a href="{{ url_for('cadastrar_local') }}">
    <button>Cadastrar Local</button></a><br>
    <a href="{{ url_for('listar_locais') }}">
    <button>Listar Locais</button></a><br><br>

    <a href="{{ url_for('cadastrar_horario')}}">
    <button>Cadastrar Horário</button></a><br>
    <a href="{{ url_for('listar_horarios')}}">
    <button>Listar Horários</button></a><br><br>

    <a href="{{ url_for('cadastrar_professor_disciplina') }}">
    <button>Cadastrar Professor x Disciplina</button></a><br>
    <a href="{{ url_for('listar_professores_disciplinas') }}">
    <button>Listar Professor x Disciplina</button></a><br><br>

    <a href="{{ url_for('cadastrar_disponibilidade_professor') }}">
    <button>Cadastrar Disponibilidade </button></a><br>
    <a href="{{ url_for('listar_disponibilidade_professor') }}">
    <button>Disponibilidade Professor</button></a><br><br>

    <a href="{{ url_for('cadastrar_grade_curricular') }}">
    <button>Cadastrar Grade Curricular</button></a><br>
    <a href="{{ url_for('listar_grades_curriculares') }}">
    <button>Listar Grades Curriculares</button></a><br><br>

    <a href="{{ url_for('cadastrar_alocacao') }}">
    <button>Cadastrar Alocação</button></a><br>
    <a href="{{ url_for('listar_alocacoes') }}">
    <button>Listar Alocações</button></a>

</body>
</html>