<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sistema Escolar</title>
</head>
<body>
    <h1>Sistema de Horários</h1>

    <a href="{{ url_for('cadastrar_professor') }}">Cadastrar Professor</a><br><br>
    <a href="{{ url_for('listar_professores') }}">Listar Professores</a><br><br>

    <a href="{{ url_for('cadastrar_disciplina') }}">Cadastrar Disciplina</a><br><br>
    <a href="{{ url_for('listar_disciplinas') }}">Listar Disciplinas</a><br><br>

    <a href="{{ url_for('cadastrar_turno') }}">Cadastrar Turno</a><br><br>
    <a href="{{ url_for('listar_turnos') }}">Listar Turnos</a><br><br>

    <a href="{{ url_for('cadastrar_turma') }}">Cadastrar Turma</a><br><br>
    <a href="{{ url_for('listar_turmas') }}">Listar Turmas</a><br><br>

    <a href="{{ url_for('cadastrar_local') }}">Cadastrar Local</a><br><br>
    <a href="{{ url_for('listar_locais') }}">Listar Locais</a><br><br>

    <a href="{{ url_for('cadastrar_horario')}}">Cadastrar Horário</a><br><br>
    <a href="{{ url_for('listar_horarios')}}">Listar Horários</a><br><br>
</body>
</html>