<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turmas</title>
</head>
<body>
    <h1>Listar Turmas</h1>

    <a href="{{ url_for('cadastrar_turma') }}">
        <button>Cadastrar Nova Turma</button>
    </a>

    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Turma</th>
            <th>Série</th>
            <th>Turno</th>
            <th>Ações</th>
        </tr>

        {% for turma in turmas %}
        <tr>
            <td>{{ turma['id_turma'] }}</td>
            <td>{{ turma['nome'] }}</td>
            <td>{{ turma['serie'] }}</td>
            <td>{{ turma['nome_turno'] }}</td>
            <td>
                <a href="{{ url_for('editar_turma', id_turma=turma['id_turma']) }}">
                    <button type="button">Editar</button>
                </a>

                <form action="{{ url_for('deletar_turma', id_turma=turma['id_turma']) }}" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if turma_edicao %}
        <hr>
        <h2>Editar Turma</h2>

        <form method='POST' action="{{ url_for('atualizar_turma', id_turma=turma_edicao['id_turma']) }}">
            <label>Turma:</label>
            <input type="text" name="nome" value="{{ turma_edicao['nome'] }}"><br><br>

            <label>Série:</label>
            <input type="text" name="serie" value="{{ turma_edicao['serie'] }}"><br><br>

            <label for="id_turno">Turno:</label>
            <select name="id_turno" id="id_turno" required>
                {% for turno in turnos %}
                    <option value="{{ turno['id_turno'] }}"
                        {% if turma_edicao['id_turno'] == turno['id_turno'] %}selected{% endif %}>
                        {{ turno['nome'] }}
                    </option>
                 {% endfor %}
            </select><br><br><br><br>

            <button type="submit">Atualizar</button>
        </form>
    {% endif %}
    <br>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>