{% extends "base.html" %}
{% block titulo %}Turnos{% endblock %}

{% block conteudo %}
<div class="cabecalho-pagina">
    <a href="{{ url_for('index') }}" class="btn btn-secundario">← Início</a>
    <h1>Lista de Turnos</h1>
</div>
<a href="{{ url_for('cadastrar_turno') }}" class="btn btn-primario mb-2">+ Cadastrar Novo Turno</a>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for turno in turnos %}
        <tr>
            <td>{{ turno['nome'] }}</td>
            <td>
                <div class="flex-linha">
                    <a href="{{ url_for('editar_turno', id_turno=turno['id_turno']) }}#form-edicao" class="btn btn-secundario">Editar</a>
                    <form action="{{ url_for('deletar_turno', id_turno=turno['id_turno']) }}" method="POST">
                        <button type="submit" class="btn-perigo" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if turno_edicao %}
<hr>
<div class="card mt-2" id="form-edicao">
    <h2>Editar Turno</h2>
    <form method="POST" action="{{ url_for('atualizar_turno', id_turno=turno_edicao['id_turno']) }}">
        <div class="form-grupo">
            <label>Nome:</label>
            <input type="text" name="nome" value="{{ turno_edicao['nome'] }}" required>
        </div>
        <button type="submit">Atualizar</button>
    </form>
</div>
{% endif %}

{% endblock %}
